<div class="container">
  <div class="form">
    <form class="form__update" [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <span class="form__update-title"> Update user name: {{ userName }}</span>
      <div class="form__update__input">
        <input
          type="text"
          name="address"
          placeholder="Address"
          formControlName="address"
        />
        <span class="form__update__input__symbol">
          <i class="fa fa-address-card" aria-hidden="true"></i>
        </span>
      </div>
      <div class="form__update__input">
        <input
          type="text"
          name="phoneNumber"
          placeholder="Phone Number"
          formControlName="phoneNumber"
          maxlength="10"
        />
        <span class="form__update__input__symbol">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </span>
      </div>
      <div class="form__update__input">
        <input
          type="text"
          name="email"
          placeholder="Email"
          formControlName="email"
        />
        <span class="form__update__input__symbol">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
      </div>
      <div class="form__update__input">
        <input
          type="date"
          name="birthday"
          placeholder="Birthday"
          formControlName="birthday"
        />
        <span class="form__update__input__symbol">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
      </div>
      <div class="form__update__input">
        <input
          type="password"
          name="password"
          placeholder="Password"
          formControlName="password"
        />
        <span class="form__update__input__symbol">
          <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
      </div>
      <div class="form__update__btn">
        <button type="submit" [disabled]="!updateForm.valid">Update</button>
      </div>
    </form>
  </div>
</div>
