.card {
  height: 400px;
  width: 400px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

img {
  max-width: 300px;
  max-height: 300px;
}

.detail {
  text-align: left;
}

.name {
  font-size: 16px;
  line-height: 24px;
  cursor: default;
}

.name:hover {
  color: #c7511f;
}

.price {
  font-size: 30px;
}

.brand {
  color: #c45500;
}
