<div class="container">
  <div class="form">
    <div class="login100-pic">
      <img src="assets/img-01.png" alt="img" />
    </div>
    <form class="form__login" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <span class="form__login-title"> Admin Login </span>
      <div class="form__login__input">
        <input
          type="text"
          name="userName"
          placeholder="User Name"
          formControlName="userName"
        />
        <span class="form__login__input__symbol">
          <i class="fa fa-user" aria-hidden="true"></i>
        </span>
      </div>
      <div class="form__login__input">
        <input
          type="password"
          name="password"
          placeholder="Password"
          formControlName="password"
        />
        <span class="form__login__input__symbol">
          <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
      </div>
      <div class="form__login__btn">
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </div>
</div>
