<div class="slideshow-container">
  <div class="mySlides fade" *ngIf="showImg1">
    <img src="assets/img1.webp" />
  </div>

  <div class="mySlides fade" *ngIf="showImg2">
    <img src="assets/img2.png" />
  </div>
</div>

<div class="container">
  <div
    *ngFor="
      let product of products
        | paginate
          : {
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count
            };
      let i = index
    "
    class="products"
  >
    <app-product-card
      [img]="product.img[0]"
      [name]="product.name"
      [brand]="product.brand"
      [price]="product.price"
      [id]="product.id"
      [routerLink]="['/home/detail', product.id]"
    ></app-product-card>
  </div>
  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>
