.products {
  flex-wrap: wrap;
  display: inline-flex;
  gap: 10px;
}

.container {
  text-align: center;
}

i {
  font-size: 50px;
  margin: 20px;
}

.d-flex.justify-content-center {
  margin-top: 30px;
}

.slideshow-container {
  text-align: center;
  padding: 20px;
  min-height: 450px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
